:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

mat-toolbar {
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.icons mat-icon, .icons div {
    cursor: pointer;
}