<mat-toolbar color="primary">
  <div class="container flex">
    <span routerLink="/" style="cursor: pointer">Budget</span>
    <span class="spacer"></span>
    <div
      class="flex icons"
      *ngIf="showMenu"
    >
      <div class="flex items-center justify-center mr-2 px-2">
        <span routerLink="/login">Login</span>
        <mat-icon routerLink="/login" class="ml-1">login</mat-icon>
      </div>
      |
      <div class="flex items-center justify-center mr-2 px-2">
        <span routerLink="/register">Register</span>
        <mat-icon routerLink="/register" class="ml-1">how_to_reg</mat-icon>
      </div>
    </div>
    <div
      class="flex icons align-items-center"
      *ngIf="!showMenu"
    >
      <div class="px-2">
        <h3>Welcome, {{ username | titlecase }}</h3>
      </div>
      <div class="flex align-items-center mr-2">
        <mat-icon (click)="logout()">logout</mat-icon>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="container py-3">
  <router-outlet></router-outlet>
</div>
