:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.example-container {
    height: 600px;
    overflow-y: auto;
  }
  
  table {
    width: 100%;
  }