<div class="container mx-auto px-4 py-5 text-center">
  <mat-form-field>
    <mat-label>Choisir un mois</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Sélectionnez un mois"
      (dateInput)="onDateSelected($event)"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" mode="month"></mat-datepicker>
  </mat-form-field>

  <table class="w-2/3 mx-auto border-collapse border border-2 border-gray-950">
    <thead>
      <tr>
        <th class="border border-2 border-gray-950">Date</th>
        <th class="border border-2 border-gray-950">Montant</th>
        <th class="border border-2 border-gray-950">Titre</th>
        <th class="border border-2 border-gray-950">Description</th>
        <th class="border border-2 border-gray-950">Categorie</th>
        <th class="border border-2 border-gray-950">Suppression</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let operation of operations" (click)="onClickRow(operation)">
        <td class="border border-2 border-gray-950">{{ operation.createdDate | date: 'dd/MM/yyyy - HH:mm' }}</td>
        <td class="border border-2 border-gray-950">{{ operation.amount }}</td>
        <td class="border border-2 border-gray-950">{{ operation.title }}</td>
        <td class="border border-2 border-gray-950">{{ operation.description }}</td>
        <td class="border border-2 border-gray-950">{{ operation.categoryName }}</td>
        <td class="border border-2 border-gray-950">
          <button mat-icon-button color="warn" (click)="deleteOperation(operation.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  
  <div class="mt-5 flex justify-center">
    <button mat-flat-button color="primary" (click)="addOperation()" class="mr-4">Ajouter une opération</button>
    <button mat-flat-button color="primary" (click)="createCategory()">Créer une catégorie</button>
  </div>
  

  <div class="mt-5">
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
    ></canvas>

</div>
